<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fcl.defineview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LolActivity" />
        <!-- <activity android:name=".ElActivity"></activity> -->
        <activity android:name=".El2Activity" />
        <activity android:name=".AliCircleActivity" />
        <activity android:name=".CompleteActivity" />
        <activity android:name=".CirclePercentActivity" />
        <activity android:name=".PanelActivity" />
        <activity android:name=".CircleProgressActivity" />
        <activity android:name=".TiltActivity" />
        <activity android:name=".CircleProgressRotateActivity" />
        <activity android:name=".WaveLoadingActivity"></activity>
    </application>

</manifest>